@model everything.ViewModels.RebuttalForReportViewModel

@{
    ViewBag.Title = "Post rebuttal";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options

            mode: "textareas",
            theme: "modern",

            height: "300",
            width: "790",
            verify_html: false,
            //plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

            plugins: "smileys,emoticons,image",
            toolbar: 'smileys,emoticons,insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',

            // Theme options
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: false,
            auto_convert_smileys: true,
            relative_urls: false,

            setup: function (ed) {
                ed.on('keyup', function (e) {
                    var count = CountCharacters();
                    document.getElementById("character_count").innerHTML = "Character count: " + count;
                    if (count < 20) {
                        $("#error").text("Your response must be minimum 20 characters");
                    }
                    else {
                        $("#error").text("");
                    }

                })
            },

            // Example content CSS (should be your site CSS)
            content_css: "../Content/custom.css",
        });
</script>



<script src="~/Scripts/jquery.accordion.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#dllState").change(function () {
             var stateId = $(this).val();
             $.getJSON("../../Report/GetCityByStateId", { stateid: stateId },
                    function (cityData) {
                        var select = $("#ddlCity");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Please select a city"
                        }));
                        $.each(cityData, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
         });

     }

     );
</script>

<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>

<section class="resum-form padd-tb">

    <div class="container">


        @using (Html.BeginForm("CreateRebuttal", "Report", null, FormMethod.Post,new {encType = "multipart/form-data", id = "rebForm", name = "rebForm" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <span class="m-b-xs h5 block text-black">
                        <b class="text-danger">PLEASE DO NOT GO AHEAD IF THE COMPLAINT FILED IS NOT AGAINST YOU OR YOUR COMPANY</b>
                    </span>
                </div>
                <input type="hidden" name="ReportId" value="@Model.ReportId" />
                <div class="form-group col-md-12 col-sm-12">
                    <strong>Complaint:</strong> <em>@Html.Raw(HttpUtility.HtmlDecode(Model.ReportText))</em>

                </div>
                
                <div class="form-group col-md-6 col-sm-6">
                    <em><strong>Give your rebuttal a title <b class="text-danger">*</b></strong></em>
                    @Html.TextBoxFor(model => model.Title)
                    <small>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })</small>

                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <em><strong>Add contradiction to the complaint filed against you or your company <b class="text-danger">*</b></strong><strong class="text-danger">&nbsp; @ViewBag.StatusMessage</strong></em>
                    <span id="character_count"></span>
                    <span id="error" class="text-danger"></span>
                    @Html.TextAreaFor(model => model.RebuttalText)
                    <small>@Html.ValidationMessageFor(model => model.RebuttalText, "", new { @class = "text-danger" })</small>

                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <em><strong>State of the company or individual </strong></em>
                    @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.State as System.Collections.IEnumerable, "StateId", "Name"), "Please select a state", new { @class = "form-control", id = "dllState" })
                    @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <em><strong>City of the company or individual </strong></em>
                    @Html.DropDownListFor(model => model.CityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "Name"), "Please select a city", new { @class = "form-control", id = "ddlCity" })
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })

                </div>

                <div class="form-group col-md-12 col-sm-12">
                    <em><strong>Street Address</strong></em>
                    @Html.TextBoxFor(model => model.Address, new { @placeholder = "Street address of the company/individual you are representing" })
                    <small>@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })</small>

                </div>

                

                <div class="col-md-12">

                    <div class="btn-col">

                        <input type="submit" value="Add Rebuttal" name="operation" id="process">

                    </div>

                </div>

            </div>

        }
        <div id="divProcessing">
            <p>Processing, please wait . . . <img src="~/images/ajax-loader.gif"></p>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

        function CountCharacters() {
            var body = tinymce.get("RebuttalText").getBody();
            var content = tinymce.trim(body.innerText || body.textContent);
            return content.length;
        };



    $(document).ready(function () {
        $("#divProcessing").hide();

        });

    $("#rebForm").submit(function (event) {

            var min = 20;

            var count = CountCharacters();
            if (count < min) {
                return false;
            }

            var isValid = $('#rebForm').valid();
            if (isValid) {
                tinyMCE.triggerSave();
                $("#divProcessing").show();
                $('#process').hide();
             }
    });

</script>

@*<script>
    $(document).ready(function () {
        $("#divProcessing").hide();
        $('#process').prop('disabled', true);
        $('input').on('blur keyup', function () {
            if ($("#rebForm").valid()) {
                $('#process').prop('disabled', false);
            } else {
                $('#process').prop('disabled', 'disabled');
            }
        });
        $("#rebForm").validate({
            rules: {
                title: {
                    required: true,
                },
                rebuttaltext: {
                    required: true,
                }
            }
        });

        $("#rebForm").submit(function (event) {
            tinyMCE.triggerSave();
            var isValid = $('#rebForm').valid();
            if (isValid) {
                $("#divProcessing").show();
                $('#process').hide();
            }
        });

    });
</script>*@
}