@model everything.Models.UpdateAdvice

@{
    ViewBag.Title = "Post Legal Advice";
}

<script src="~/jss/jquery.js"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="row">
    @using (Html.BeginForm("CreateUpdate", "Legal", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "adForm", name = "adForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active"><span>Post Legal Advice</span></li>
                    </ol>

                    <h1>Report Update Legal Advice</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box">
                        <header class="main-box-header clearfix">
                            <span><strong>Complaint:</strong> @ViewBag.ReportText</span>
                            <br>
                            <br>
                            <span><strong>Legal Advice:</strong> @ViewBag.LegalAdvice</span>
                            <br>
                            <br>
                            <span><strong>Update Added:</strong> @ViewBag.Update</span>
                        </header>

                        <div class="main-box-body clearfix">
                            <input type="hidden" name="ReportId" id="ReportId" value="@ViewBag.ReportId" />
                            <input type="hidden" name="ReportUpdateId" id="ReportUpdateId" value="@ViewBag.ReportUpdateId" />
                            <div class="form-group">
                                <label for="exampleInputEmail1">Advice</label>
                                @Html.TextAreaFor(model => model.AdviseText, new { @class = "form-control", @rows = "10" })
                                <small>@Html.ValidationMessageFor(model => model.AdviseText, "", new { @class = "text-danger" })</small>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="submit" value="Post Advice" name="operation" id="process" class="btn btn-success">

                                </div>
                            </div>
                            <div id="divProcessing">
                                <p>Processing, please wait . . . <img src="~/images/ajax-loader.gif"></p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back to Report Updates", "Update")
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        });

    $("#adForm").submit(function (event) {

                $("#divProcessing").show();
                $('#process').hide();
    });

</script>