@model everything.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>
<section class="signup-section">
    <div class="container">
        <div class="holder">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "fForm", name = "fForm" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email</h4>
                @*<h5>@ViewBag.Status</h5>*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group ">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter the email you registered with", @class = "form-control", @Required = "Required" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Send" name="operation" id="process" />
                        </div>
                    </div>
                    <div id="divProcessing">
                        <p>Processing, please wait . . . <img src="~/images/ajax-loader.gif"></p>
                    </div>
            }

        </div>

    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $("#divProcessing").hide();

    });

    $("#fForm").submit(function (event) {


        var isValid = $('#fForm').valid();
        if (isValid) {
            $("#divProcessing").show();
            $('#process').hide();
        }
    });

</script>

}
