@model everything.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<section id="inner-banner">

        <div class="container">

            <h1>@ViewBag.Title</h1>

        </div>

    </section>
<section class="signup-section">
    <div class="container">
        <div class="holder">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "reForm", name = "reForm" }))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password</h4>
                @*<h5>@ViewBag.Status</h5>*@
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)

                <div class="form-group ">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter the email you registered with", @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "********", @class = "form-control", @title = "Enter a combination of at least six numbers, letters and punctuation marks (like $ and #)"})
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "********", @class = "form-control", @title = "Please re-enter your password."})
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Reset" name="operation" id="process" />
                        </div>
                    </div>
                    <div id="divProcessing">
                        <p>Processing, please wait . . . <img src="~/images/ajax-loader.gif"></p>
                    </div>
            }

        </div>

    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).ready(function () {
        $("#divProcessing").hide();

    });

    $("#reForm").submit(function (event) {


        var isValid = $('#reForm').valid();
        if (isValid) {
            $("#divProcessing").show();
            $('#process').hide();
        }
    });

    </script>

}
